<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="styles/styles.css">

    <title>Home</title>
</head>
<body>
<div class="container">
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a class="apply" href="#apply">Apply Now!</a>
    </div>
    <div class="column text-center">
        <div class="row row-cols-lg-2">
            <div>
                <h1 class="spacer">About the Internship</h1>
                <p>We are searching for a motivated student software developer for an IOS and Android development internship</p>
                <h1 class="spacer">More About Us</h1>
                <p>We are a corn dog vendor secretly (but not so secretly, due to this website) hidden
                    under the Green River College Auburn Center building. </p>
                <p>Our goal is to bring the least fresh food right to Green River's campus
                    for all students and staff to enjoy. Just come on down to floor -3,
                    there's a lukewarm corndog with your name on it!</p>
            </div>
            <div class="align-self-center">
                <img src="images/Auburn-Center-building-exterior.jpg" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <h1 class="spacer">Meet Our Team</h1>
            <p><i>These corn dogs are really, really good!</i> - Real CEO</p>
            <p><i>They aren't really that great in my opinion, but people seem to like them!</i> - Real Worker</p>
            <p><i>It's nice having no commute between work and school!</i> - Dale Kanikkeberg, Real Worker</p>
        </div>
    </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>

