<include href="views/header.html"></include>

<body>
<div class="container">
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a class="apply" href="info">Apply Now!</a>
    </div>
    <div class="head">
        <h4>Green River Corn Dogs</h4>
        <p>Auburn Washington, Unpaid, 17.5 weeks</p>
    </div>
    <form class="body">
        <div class="p-3 m-3">
            <h1 class="spacer">Job Openings Mailing Lists</h1>
            <div class="row">
                <label class="form-label">Software Development Jobs</label><br>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="javascript" name="javascript" value="JavaScript">
                    <label for="javascript"> JavaScript</label>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="php" name="php" value="PHP">
                    <label for="php"> PHP</label>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="java" name="java" value="Java">
                    <label for="java"> Java</label>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="python" name="python" value="Python">
                    <label for="python"> Python</label>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="html" name="html" value="HTML">
                    <label for="html"> HTML</label>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="css" name="css" value="CSS">
                    <label for="css"> CSS</label>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="reactjs" name="reactjs" value="ReactJS">
                    <label for="reactjs"> ReactJS</label>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="nodejs" name="nodejs" value="NodeJS">
                    <label for="nodejs"> NodeJS</label>
                </div>
            </div>
            <div class="row">
                <label class="form-label">Industry Verticals</label><br>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="saas" name="saas" value="SaaS">
                    <label for="saas"> SaaS</label>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="healthtech" name="healthtech" value="Health tech">
                    <label for="healthtech"> Health tech</label>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="agtech" name="agtech" value="Ag tech">
                    <label for="agtech"> Ag tech</label>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="hrtech" name="hrtech" value="HR tech">
                    <label for="hrtech"> HR tech</label>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="industrialtech" name="industrialtech" value="Industrial tech">
                    <label for="industrialtech"> Industrial tech</label>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <input type="checkbox" id="cybersecurity" name="cybersecurity" value="Cybersecurity">
                    <label for="cybersecurity"> Cybersecurity</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Next ></button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>