<!--
    328/application/views/mailing.html
    Author: Dale Kanikkeberg
    Date: April 22, 2024
    Description: This page gathers two types of
        mailing list subscriptions -
        “Software Development Jobs” & “Industry Verticals”
-->
<include href="views/header.html"></include>

<!-- Form -->
<div class="container">
    <div class="row mt-5">
        <h2>Job Openings Mailing Lists</h2>
        <hr>

        <form action="#" method="post">

        </form>
    </div>
</div>
</body>
</html>