<!--
    328/application/views/summary.html
    Author: Dale Kanikkeberg
    Date: April 22, 2024
    Description: Displays a summary of information collected
        from the previous three pages: info, experience, and mailing
-->
<include href="views/header.html"></include>

<!-- Form -->
<div class="container">
    <div class="row mt-5">
        <p>Name: {{ @SESSION.applicant->getFname() }} {{ @SESSION.applicant->getLname() }}</p>
        <hr>
        <p>Email: {{ @SESSION.applicant->getEmail() }}</p>
        <hr>
        <p>State: {{ @SESSION.applicant->getState() }}</p>
        <hr>
        <p>Phone: {{ @SESSION.applicant->getPhone() }}</p>
        <hr>
        <p>GitHub Link: {{ @SESSION.applicant->getGithub() }}</p>
        <hr>
        <p>Experience: {{ @SESSION.applicant->getExperience() }} years</p>
        <hr>
        <p>Willing To Relocate: {{ @SESSION.applicant->getRelocate() }}</p>
        <hr>
        <p>Mailing Lists:
            {{ implode(', ', @SESSION.applicant->getSelectionsJobs()) }},
            {{ implode(', ', @SESSION.applicant->getSelectionsVerticals()) }}
        </p>
        <hr>
        <button type="submit" class="btn btn-primary">Submit My Application!</button>
    </div>
</div>
</body>
</html>